.hljs {
  display: block;
  width: 100%;
  margin: 0;
  padding: 1px;
  color: #abb2bf;
  font-weight: 200;
  font-size: 0.75rem;
  font-family: Menlo, Monaco, Consolas, Courier, monospace;
  line-height: 1.5;
  white-space: pre-wrap;
  border: 0;
  font-size: 16px;
}
.hljs ol {
  margin: 0 0 0 25px;
  padding: 0;
  list-style-type: decimal;
  padding: 10px;
  color: #fff;
  font-size: 14px;
}
/** 行数样式 */
.hljs ol li {
  white-space: pre;
  padding: 9px 10px;
  color: #d1d8e6;
  border-left: 1px solid #d1d8e6;
  width: 100%;
  &:nth-of-type(odd){
    background: rgb(85, 85, 85,0.3)
  }
}


/* 语法高亮 */
.hljs-container {
  position: relative;
  display: flex;
  width: 100%;
  padding: 34px 0 0px;
  overflow-x: hidden;
  font-size: 14px;
  line-height: 24px;
  text-align: left;
  background: #21252b;
  overflow-x: auto;
  box-shadow: 0 10px 30px 0 rgb(0 0 0 / 40%);
}


/** 3个点 */
.hljs-container::before {
  position: absolute;
  top: 10px;
  left: 15px;
  width: 12px;
  height: 12px;
  overflow: visible;
  font-weight: 700;
  font-size: 16px;
  line-height: 12px;
  white-space: nowrap;
  text-indent: 75px;
  background-color: #fc625d;
  border-radius: 16px;
  box-shadow: 20px 0 #fdbc40, 40px 0 #35cd4b;
  color: #999;
  content: attr(codetype);
  font-family: math;
}

/** 滚动条 */
::-webkit-scrollbar {
  width: 10px ;
  height: 10px ;
}
::-webkit-scrollbar-thumb{
  height: 160px !important;
  background: #d1d8e6;
  background-clip: content-box;
  border: 2px solid transparent;
  border-radius: 19px;
  opacity: 0.8;
}
::-webkit-scrollbar-thumb:hover{
  background: #a5b3cf;
  background-clip: content-box;
  border: 2px solid transparent;
}
::-webkit-scrollbar-track-piece{
  width: 30px;
  height: 30px;
  background: #fff;
}